canvas {
    background-image: url("./media/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    text-align: center;
}

body button {
    font-size: 30px;
    background-color: rgb(136, 211, 243);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    /* margin: 100px 0 0 0; */
    font-size: 2.5rem;
    font-style: oblique;
    color: rgb(136, 211, 243);
}

/* #winner {
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(1,113,187);
    display: block;
    font-size: 2rem;
    text-shadow: 5px 5px 5px rgb(146, 157, 151);

}

#loser {
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(1,113,187);
    display: block;
    font-size: 2rem;
    text-shadow: 5px 5px 5px rgb(146, 157, 151);
} */

#winOrLoseId {
    font-size: 2rem;
    color: rgb(1,113,187);
}

.score {
    color: rgb(1,113,187);
}

#score {
    color: rgb(1,113,187);
}